<div style="max-width: 600px; margin: 20px auto; text-align: center; background-color: #d6d6d6; padding: 40px 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(155, 155, 155, 0.1);">
    <h2 class="title">Painel Administrativo</h2>
    
    <p>
        Bem-vindo,
        @Context.Session.GetString("Usuario")
    </p>
    
    
    <h5>
    
        Produtos cadastrados
    
    </h5>
    
    <h1>
    
        @ViewBag.TotalProdutos
    
    </h1>
    
    
    <div clas=area-btns style="margin-top: 30px;">
        <div class="mb-3">
            <a asp-controller="Produto" asp-action="Index" class="btn btn-primary" >
            
                Gerenciar Produtos
            
            </a>
        </div>

        <div class="mb-3">
            <a class="btn btn-danger" asp-controller="Auth" asp-action="Logout" >
            
                Logout
            
            </a>
        </div>
    </div>
</div>