<div class="contato-hero text-center text-white py-5 mb-5">

    <div class="container">

        <h1 class="display-4 fw-bold">
            Entre em Contato
        </h1>

        <p class="lead">

            Estamos à disposição para esclarecer dúvidas,
            sugestões e solicitações.

        </p>

    </div>

</div>

<div class="row mb-5">

    <div class="col-md-4">

        <div class="card shadow-sm border-0 h-100">

            <div class="card-body text-center">

                <h4>📍 Endereço</h4>

                <p>
                    Rua da Tecnologia, 1000<br />
                    Luziânia - GO
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow-sm border-0 h-100">

            <div class="card-body text-center">

                <h4>📞 Telefone</h4>

                <p>
                    (61)9 9171-****
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow-sm border-0 h-100">

            <div class="card-body text-center">

                <h4>✉️ E-mail</h4>

                <p>
                    contato@techstore.com.br
                </p>

            </div>

        </div>

    </div>

</div>

<div class="card shadow-sm border-0" style="margin: auto; max-width: 600px; aling-items: center;">

    <div class="card-body p-4">

        @if (TempData["Sucesso"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show">

                @TempData["Sucesso"]

                <button type="button" class="btn-close" data-bs-dismiss="alert">
                </button>

            </div>
        }

        <form asp-controller="Home" asp-action="Contato" method="post">

            <div class="mb-3">

                <label>Nome</label>

                <input name="nome" class="form-control" required>

            </div>

            <div class="mb-3">

                <label>Email</label>

                <input name="email" type="email" class="form-control" required>

            </div>

            <div class="mb-3">

                <label>Mensagem</label>

                <textarea name="mensagem" class="form-control" rows="5" required></textarea>

            </div>

            <button class="btn btn-primary"
                    style="display: block; margin: 0 auto;">

                Enviar

            </button>

        </form>
    </div>
</div>