<h2>Contato</h2>

<p>Contate-nos preenchendo o formulário abaixo:</p>
<form>

<div class="mb-3">

<label>Nome</label>

<input class="form-control">

</div>

<div class="mb-3">

<label>Email</label>

<input class="form-control">

</div>

<div class="mb-3">

<label>Mensagem</label>

<textarea class="form-control"></textarea>

</div>

<button class="btn btn-primary">

Enviar

</button>

</form>