<h2 class="title">Contato</h2>

<div class="form" style="max-width: 600px; margin: 0 auto; background-color: #c4c4c4; padding: 30px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">

    <p style="font-size: 1.2em; text-align: center; max-width: 750px; margin: 0 auto;">
    Conte-nos sobre suas dúvidas, sugestões ou qualquer assunto relacionado à TechStore. Estamos aqui para ajudar e adoraríamos ouvir de você!
    </p>

    <form>

        <div class="mb-3">

            <label>Nome</label>

            <input class="form-control">

        </div>

        <div class="mb-3">

            <label>Email</label>

            <input class="form-control">

        </div>

        <div class="mb-3">

            <label>Mensagem</label>

            <textarea class="form-control"></textarea>

        </div>

        <button class="btn btn-primary" style="display: block; margin: 0 auto;">

            Enviar

        </button>

    </form>
</div>