@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center py-5">

    <h1>TechStore</h1>

    <p class="lead">
        Os melhores eletrônicos para você.
    </p>

    <a class="btn btn-primary">
        Ver Produtos
    </a>

</div>

<div class="row mt-5">

    <div class="col-md-4">

        <div class="card">

            <img >

            <div class="card-body">

                <h5>Notebook Gamer</h5>

                <p>Alta performance.</p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card">

            <img src="https://placehold.co/400x250">

            <div class="card-body">

                <h5>Headset</h5>

                <p>Som profissional.</p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card">

            <img src="https://placehold.co/400x250">

            <div class="card-body">

                <h5>Mouse Gamer</h5>

                <p>Precisão máxima.</p>

            </div>

        </div>

    </div>

</div>src="https://placehold.co/400x250"