<h2 class="title">Sobre Nós</h2>

<div style="font-size: 1.2em; max-width: 500px; margin: 0 auto; background-color: #d6d6d6; padding: 40px 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(155, 155, 155, 0.1);">
    <p>
    
    A TechStore é uma loja especializada em tecnologia e eletrônicos,
    oferecendo produtos modernos com qualidade e preços competitivos.
    
    </p>
</div>